body,p,span{font-family: 'Open Sans', sans-serif;}
/* *{padding: 0; margin: 0;} */
.text-primary{color:#FD6E0A;}

nav{
    display: flex;padding-left: 150px;
}
.nav-tyttle{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav{
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    text-decoration: none;
    color: #474747;
    
}

nav ul li a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: 0;
    padding: 15px 30px;
}
/* banner section */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner img{width: 500px;}
/* .d-con{
    align-items: center;
    margin-top: 130px;
} */
.header{
    background-color: #FFF8F3;
    background: url(../images/header_bg.png) no-repeat;
    background-position: bottom right;
   
}
.banner-h5{
    font-size: 45px;    
    font-weight: 600;
    line-height: normal;
    color: #474747;
    margin-bottom: 0;
}
.banner-h1{
    font-size: 85px;
    font-weight: 700;
    line-height: normal;
    color: #181818;
    margin-top: 5px;
}
.banner-p{
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
