.top-section{
    background-image: url('../new-year-new-me/images/banner/banner1.png');
    width: auto;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -10px;
    display: flex;
    justify-content: end;
    
}

 .back-img{    
   
    width: 525px;   
    padding-top: 200px;
    padding-right: 200px;
 }
  .back-img h1{
color:#151414;
text-align: right;
font-size: 65px;
font-weight: 700;
 } 
 .back-img p{
    color:#444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
 }
 .back-img .back-content-btn button{
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    display:inline;


}
.back-content-btn {text-align: right;}
/* banner section */
.anner-section{
    background-image: url('../new-year-new-me/images/person.png') ;
    height: 700px;
    width:auto;
    background-repeat:no-repeat;
    display: flex;
    justify-content: end;
    padding-right: 300px;
    padding-top: 200px;
} 

.banner-right h1{
    color:#151414;
    font-size: 40px;
    font-weight: 700;

}
.banner-right p{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}
.banner-right ul li{
    color:#444343;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    margin-top: 8px;

}
.banner-left img{
    background-color: #F15B2233;
    width: 451px;
    height: 451px;
    border-radius: 90%;
}
/* my plans section */
.my-plans h1{
    text-align: center;
    margin-bottom: 87px; 
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.div-content{
    display: flex;
    justify-content:space-around;
}
.div-content h3{
color:#151414;
text-align: center;
font-size: 30px;
font-weight: 700;
margin-bottom: 5px;

}
/* Awlays keep a positive mindset */
.junu-sona{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.awlays{
    background-image:url('../new-year-new-me/images/watch.png');
    
    height: 300px;
    width: 1140px;
    /*  url('../new-year-new-me/images/gradient2.png'),  */
    
}
.awlyes-content{
    padding-left: 64px;
}
/* footer stated */
.footer-icon ul li{
    display: inline-block;
    padding-right:10px;
}


footer{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    background-color: #151414;
    color: #FFF;
    padding: 40px;
}
.footer-left h3{
color: #F8F8F8;
font-size: 45px;
font-weight: 700;
}
.footer-left p{
color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
 .footer-left p{
color: #FFF;
font-size: 16px;
font-weight: 400;
 } 
 .footer-left p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;

 }
 /* footer-right */
 .footer-right h4{
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
 }
 .footer-right div label input{
    color: #151414;
    font-size: 18px;
    font-weight: 400;
    padding:5px 10px;
    border-radius: 5px;
    border: none;

 }
 .footer-right button{
    margin-top: 10px;
    color: #F15B22;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 3px;
    border-radius: 3px;
    border: none;

}